{% load staticfiles %}
{% load ereklamo_extras %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}e-Reklamo!{% endblock title %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">

        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/main.css' %}" rel="stylesheet">

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
        
        {% include 'django_facebook/_facebook_js.html' %}
        
        <script type="text/javascript">
            var ereklamo = ereklamo || {};
            ereklamo.STATIC_URL = "{{ STATIC_URL }}";
            ereklamo.MEDIA_URL = "{{ MEDIA_URL }}";
            ereklamo.HOME = "{{ request.build_absolute_uri }}";
            ereklamo.PUBLISHER = "0d9e0dae-af04-4baf-95b6-beb56759ee68";
            ereklamo.SOCIAL_SERVICES = ['facebook', 
                        'twitter', ];
            ereklamo.LOGO = "{% static "img/main.exclamation-point.jpg" %}";
        </script>

        {% block extra_css %}{% endblock extra_css %}
        {% block extra_js_head %}{% endblock extra_js_head %}
        
        {% block og_tags %}
            <meta property="og:title" content="e-Reklamo!" />
            <meta property="og:type" content="website" />
            <meta property="og:url" content="{{ request.build_absolute_uri }}" />
            <meta property="og:image" content='{% static "img/main.exclamation-point.jpg" %}'/>
            <meta property="og:description" content="Reklamuhan ng bayan!" />
            <meta property="og:site_name" content="e-Reklamo!" />
        {% endblock %}

    </head>

    <body>
        {% block header %}
            {% include "header.html" %}
        {% endblock %}

        <div class="main-container">
            {% block content %}{% endblock content %}
        </div>
        
        {% block footer %}
            {% include "footer.html" %}
        {% endblock %}

        <script src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        
        {% block extra_js_body %}{% endblock extra_js_body %}
  </body>
</html>
