<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="{% url 'home' %}">e-Reklamo</a>
            <div class="pull-right" style="padding-top: 15px;">
                <div class="sharethis">
                </div>
            </div>
        </div>
    </div>
</div>
