{% extends "base.html" %}
{% load gmaps_tags %}
{% load staticfiles %}

{% block extra_js_head %}
    {% include "social/sharethis_head.html" %}
{% endblock %}

{% block extra_js_body %}
    <script src="{% static "js/ereklamo.social.js" %}"></script>
    <script>
        var ereklamo = ereklamo || {};
        ereklamo.sharethis = new ReklamoShareThis();
        ereklamo.sharethis.update_meta();
    </script>
    {% gmap_js True True %}
{% endblock %}

{% block content %}
    <div class="container-fluid" id="map-container">
        <div class="home-map">
            <div class="home-detail row-fluid"></div>
            {% gmap_list reklamos '100%' '512px' 12 'reklamo-map' %}
        </div>
    </div>
{% endblock %}
