<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    var ereklamo = ereklamo || {};
    stLight.options({
        publisher: ereklamo.PUBLISHER,
        popup: 'true',        
        doNotHash: true,
        doNotCopy: true,
        hashAddressBar: false,
        'onhover': false,
        shorten:false,
        servicePopup:true,
    });
</script>
