<form class="form-horizontal row-fluid infobubble-container" id="reklamo-create" method="POST" action="{% url 'create_reklamo' %}">{% csrf_token %}
    <h4>What's your reklamo?</h4>
    <div class="field">
        {{ form.title }}
        <div class="text-error">
            {{ form.title.errors }}
        </div>
    </div>
    <div class="field">
        {{ form.body }}
        <div class="text-error">
            {{ form.body.errors }}
        </div>
    </div>
    <div class="field">
        {{ form.category }}
        <div class="text-error">
            {{ form.category.errors }}
        </div>
    </div>
    <div class="field">
        Have evidence?
        {{ form.image }}
        <div class="text-error">
            {{ form.image.errors }}
        </div>
    </div>
    {{ form.coordinates }}
    {{ form.coordinate_zoom }}
    <input type="submit" class="btn btn-block btn-primary" value="Submit" />
    <br/>
    <br/>
</form>
