<div class="preview center span12">
    {% if reklamo.image %}
        <div class="span12">
            <img class="offset1 span10" src="{{ reklamo.image.url }}" alt="" title="" />
        </div>
    {% endif %}
    <h2>{{ reklamo.title }}</h2>
    <p>{{ reklamo.body }}</p>
    <div class="fb-comments" data-href="{{ '/' }}" data-num-posts="10">
    </div>
</div>
