{% load i18n %}
{% load staticfiles %}
{% load thumbnail %}

<div class="media infobubble-container">
    <div class="media-body">
        <h4 class="media-heading">{{ reklamo }} {{ reklamo.get_absolute_url }}</h4>
        <img class="media-object pull-left" src="{% if reklamo.image %}{% thumbnail reklamo.image '64x64' crop='center' as im %}{{ im.url }}{% endthumbnail %}{% else %}{% static 'img/placeholder_thumb.png' %}{% endif %}" style="border: 2px {{ reklamo.category.color }} solid;">
        <div>
            <div>{{ reklamo.body|truncatewords:20 }}<a class="detail-reklamo-click" href="javascript:click_detail();ereklamo.sharethis.update_meta('{{ reklamo.title }}', '{{ reklamo.description }}', '?reklamo={{ reklamo.pk }}', '{{ reklamo.image_url }}');" data-href="{% url 'detail_reklamo' reklamo.pk %}">{% trans "More" %}</a></div>
        </div>
    </div>
</div>
