.main-container {
    margin-top: -10px;
}
#map-container {
    padding-left: 0;
    padding-right: 0;
}
#map-container img {
    max-width: none;
}
#map-container .infobubble-container .media-body {
    color: #000;
}
.center {
    text-align: center;
}
.hero-unit {
    width: 100%;
    margin: 0;
}
#map-container .infobubble-container .media-object {
    margin: 5px 5px 5px 0;
}
#map-container .infobubble-container a {
    color: #00a3b6;
}
#map-container .infobubble-container h4 {
    color: #111111;
    border-bottom: 2px #00b2d9 dotted;
    padding-bottom: 5px;
}
#map-container .infobubble-container .field {
    margin-bottom: 5px;
}
.home-map {
    position: relative;
}
.home-detail {
    width: 30%;
    height: 512px;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: none;
    overflow: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.home-detail .preview {
    margin-top: 15px;
}
.home-detail .preview p {
    color: rgb(235, 235, 235)
}
.home-detail .preview img {
    border-radius: 4px;
}
