<div class="infobubble-container">
    <form class="form-horizontal" id="reklamo-create" action="{{ create_url }}">
        {{ form.as_p }}
        <input type="submit" class="btn" />
    </form>
</div>
